<a href="https://colab.research.google.com/github/Xavier-ML/BIOINFORMATICA-XAVIER-ML/blob/main/BD_Lambayeque22_ENAHO.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#LABORATORIO INDIVIDUAL – MODULO 1 DE LA PLATAFORMA VIRTUAL
El presente laboratorio se ha realizado para que lo resuelvan en forma individual. Está basado en una investigación real respecto a la información de la Encuesta Nacional de Hogares del año 2022 (ENAHO).

### Para cada uno de los grupos, la información de respuesta debe remitirse en Word la parte textual analítica y en Excel.
El ámbito de aplicación de la intervención fue en la región Lambayeque. La población estimada en el año 2022, fue de 1 millón 338 mil habitantes (1,338,994), habitando en 289,969 viviendas, en los cuales se tomó una muestra de 1436 hogares para identificar los hogares. A continuación, se alcanza la Base de Datos con algunas variables de interés.
El laboratorio se ha dividido de la siguiente manera.
Se debe utilizar la Base de datos que se adjunta en el Excel para resolver las siguientes preguntas.
### Para cada una de las variables cuantitativas se pide lo siguiente:

*   Distribución de frecuencias
*    Histograma y polígono
*    La media aritmética
*    La mediana
*    La moda
*     La desviación media
*    La varianza
*    La desviación estándar
*      El coeficiente de variación
*     El coeficiente de asimetría
*    El coeficiente de apuntamiento

### Para cada una de las variables cualitativas se pide lo siguiente:

*    Histograma
*    Distribución de frecuencias
*    La moda

In [1]:
import pandas as pd
import math as pd

In [2]:
datos = pd.read_excel("/content/BD_Lambayeque22.xlsx")

In [6]:
datos.shape

(4944, 22)

In [7]:
datos.dtypes

aÑo             int64
mes             int64
conglome        int64
vivienda        int64
hogar           int64
codperso        int64
ubigeo          int64
dominio        object
estrato        object
p207           object
p208a           int64
p301a          object
factor07      float64
p110           object
p1121          object
mieperho        int64
totmieho        int64
sg42          float64
gru11hd       float64
inghog2dp     float64
gashog1dp     float64
estrsocial     object
dtype: object

#### Variable cuantitativa a analizar ingreso neto per cápita (**inghog2dp**)

In [8]:
inghog2dp = datos['inghog2dp']

In [10]:
type(inghog2dp)

pandas.core.series.Series

In [11]:
inghog2dp

0       1278.309652
1       1278.309652
2       1278.309652
3       1278.309652
4       1675.821777
           ...
4939     896.100065
4940     896.100065
4941     716.241862
4942     716.241862
4943     716.241862
Name: inghog2dp, Length: 4944, dtype: float64

In [15]:
def tabla_frecuencias_agrupadas(columna):
  """
  Crea una tabla de frecuencias agrupadas para una columna de un dataset.

  Args:
    columna: La columna del dataset para la que se desea crear la tabla de frecuencias.
    rango: El rango de los datos.
    amplitud: La amplitud de cada intervalo de clase.

  Returns:
    Una tabla de frecuencias agrupadas con las siguientes columnas:
      * Intervalo: El intervalo de clase.
      * Frecuencia absoluta: La cantidad de veces que aparece el intervalo.
      * Frecuencia relativa: La frecuencia absoluta dividida por el tamaño de la muestra.
      * Marca de clase: El valor medio del intervalo.
  """
  # Valor maximo de datos
  Vmax = columna.max()
  # Valor minimo de datos
  Vmin = columna.min()
  # diferencia del valor maximo al minimo
  R = Vmax - Vmin
  # Número de filas de datos
  numero_filas = columna.shape[0]
  # Número de intervalos calculo de Sturges
  n = 1 + 3.22*math.log(numero_filas )
  # Amplitud decimal
  A = R/n
  # Redondeo de la amplitud
  redon_A = round(A)
  # valor de la multiplicación de numero de intervalos y amplitud de redondeo
  R_prima = n*redon_A
  # Diferencia entre el valor decimal y valor teorico de R
  d = R_prima - R
  # Valor maximo + 1
  Vmax_prima = Vmax + 1
  lista_variables_iniciales = [n,Vmax,Vmin,R,]
  # Obtenemos los valores únicos de la columna.
  valores_unicos = columna.unique()

  # Inicializamos la tabla de frecuencias.
  tabla = pd.DataFrame({
    "Intervalo": []
  })

  # Calculamos los intervalos de clase.
  for i in range(len(valores_unicos) - 1):
    marca_de_clase = (valores_unicos[i] + valores_unicos[i + 1]) / 2
    intervalo = f"({valores_unicos[i]}-{valores_unicos[i + 1]}]"
    tabla = tabla.append({"Intervalo": intervalo, "Marca de clase": marca_de_clase}, ignore_index=True)

  # Calculamos la frecuencia absoluta de cada intervalo.
  tabla["Frecuencia absoluta"] = tabla["Intervalo"].value_counts()

  # Calculamos la frecuencia relativa de cada intervalo.
  tabla["Frecuencia relativa"] = tabla["Frecuencia absoluta"] / tabla.shape[0]

  return tabla