<a href="https://colab.research.google.com/github/Xavier-ML/BIOINFORMATICA-XAVIER-ML/blob/main/Examen_Final_Preguntas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Examen Final - Python Fundamentals for Data Science
Instrucciones:
* El examen tiene un máximo de 2.5 horas de duración
* Se permite hacer consultas por internet
* Las respuestas incluyendo código deben verse reflejadas en el notebook
* Enviar el notebook con respuestas al correo del instructor al terminar
* No se permite consultar ni conversar con los compañeros de clase

P1. Cargar el dataset datos.csv en Pandas.
Mostrar las filas iniciales en la pantalla. Cuantas filas y columnas hay

In [37]:
# Cargar el dataset
import pandas as pd
datos = pd.read_csv("/content/datos.csv", sep = ",")

In [38]:
# Mostrar filas iniciales en la pantalla
datos.head(10)

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [39]:
#Cuantas filas y columnas hay
datos.shape

(32560, 16)

P2. Existe una columna que copia el índice. Eliminarla del dataframe y mostrar el resultado.

In [40]:
datos.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'salary'],
      dtype='object')

In [41]:
datos = datos.drop('Unnamed: 0', axis=1)
datos.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

P3. ¿Cuántas personas de sexo masculino y femenino están representadas en el dataset?

In [42]:
datos.groupby(["sex"])["sex"].count()

sex
Female    10771
Male      21789
Name: sex, dtype: int64

In [43]:
10771 + 21789

32560

P4. ¿Cuál es la edad promedio del sexo masculino?

In [44]:
datos.groupby(["sex"])["age"].mean()

sex
Female    36.858230
Male      39.433567
Name: age, dtype: float64

promedio del sexo masculino es 39.43 redondeando a dos cifras 39 la edad.

P5. ¿Cuál es la proporción de Mexicanos del dataset?

In [47]:
datos_unicos_country = datos['native-country'].unique()
datos_unicos_country

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

In [48]:
Mexicanos = datos[datos["native-country"] == "Mexico"]
Mexicanos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
14,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
55,46,Private,216666,5th-6th,3,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
74,27,Private,213921,HS-grad,9,Never-married,Other-service,Own-child,White,Male,0,0,40,Mexico,<=50K
141,19,Private,316868,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,30,Mexico,<=50K
149,47,Local-gov,186009,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,38,Mexico,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32331,26,Private,233777,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,72,Mexico,<=50K
32333,24,Private,176580,5th-6th,3,Married-spouse-absent,Farming-fishing,Not-in-family,White,Male,0,0,40,Mexico,<=50K
32424,23,Private,180771,1st-4th,2,Married-civ-spouse,Machine-op-inspct,Wife,Amer-Indian-Eskimo,Female,0,0,35,Mexico,<=50K
32431,36,Private,208068,Preschool,1,Divorced,Other-service,Not-in-family,Other,Male,0,0,72,Mexico,<=50K
32546,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K

In [51]:
Mexicanos.shape

(643, 15)

In [50]:
(643/32560)*100

1.9748157248157248

El 1.97% del dataset son Mexicanos.

P6. ¿Cuál es la edad promedio de aquellos que ganan más de 50K y menos de 50K?

In [58]:
gananmayora50k = datos[datos.salary == ">50K"]
gananmayora50k

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32538,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32544,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32553,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [61]:
gananmenora50k = datos[datos.salary == "<50K"]
gananmenora50k

Empty DataFrame
Columns: [age, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capital-gain, capital-loss, hours-per-week, native-country, salary]
Index: []

In [60]:
gananmayora50k.groupby(["salary"])["age"].mean()

salary
>50K    44.249841
Name: age, dtype: float64

la edad promedio es 44 años.

P7. ¿Todos los que ganan mas de 50K al año tienen un Bachiller?

In [62]:
gananmayora50k.shape

(7841, 15)

In [64]:
Sonbachiller = gananmayora50k[gananmayora50k["education"] == "Bachelors"]
Sonbachiller

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
24,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
44,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K
52,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32463,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
32529,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K
32532,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32535,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K

In [65]:
7841 - 2221

5620

No, Solo 2221 tienen bachiller y los 5620 otros grados que ganan más de 50k.

P8. Determinar el número de horas promedio por semana que se trabaja en cada país para <=50K y >50K

P9. Agrupar y contar los registros de <=50K y >50K. Graficar el resultado de manera apropiada

P10. Según el análisis:
* ¿Qué campos serían idóneos para entrenar un modelo que predice si nuevos datos corresponden a <=50K o >50K?
* ¿Sería un modelo de regresión o clasificación - por qué?
* Argumentar en máx 3 párrafos.

P11.En un examen tipo test, las preguntas correctas suman un punto y las incorrectas restan medio punto. En total hay 100 preguntas y no se admiten respuestas en blanco (hay que contestar todas).

La nota de un alumno es 8.05 sobre 10. Calcular el número de preguntas que contestó correcta e incorrectamente.

P12. Si se suma 7 al numerador y al denominador de una determinada fracción, se obtiene la fracción

2
3
Si en vez de sumar 7 se resta 3 al numerador y al denominador, se obtiene la fracción

1
4
Encontrar dicha fracción.

P13. Graficar Histograma de rangos de edades

P14.Graficar Violin  Hours per week

P15.Graficar dispersión entre edad y horas per week

P16.Una marca de bebidas prepara una limonada (agua y concentrado de limón) con una cantidad muy precisa de sus ingredientes. La relación entre las cantidades de agua y concentrado limón es

L
L
=
2
L
A
5
donde LL representa los litros de concentrado de limón y LA los litros de agua.

Si se necesitan 20 limones para obtener un litro de concentrado de limón, ¿cuántos limones se necesitan para elaborar 1230 botellas de 2L de esta limonada?

P17.Grafico de barras de Race

P18. Desarrollar un programa que te pregunte un número y termine calculando el factorial, ejemplo= 3  ---> 1*2*3 =6

P19.Desarrollar un programa que te calcule la nota final del curso, aoartir de las notas de  tareas, laboratorios y examen final (0.3 ,0.4, 0.3 pesos respectivamente)

P20. 3 resumenes de la data , seleccionar mínimo 2 variables cuantitativas