<a href="https://colab.research.google.com/github/Xavier-ML/BIOINFORMATICA-XAVIER-ML/blob/main/Examen_Final_Preguntas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Examen Final - Python Fundamentals for Data Science
Instrucciones:
* El examen tiene un máximo de 2.5 horas de duración
* Se permite hacer consultas por internet
* Las respuestas incluyendo código deben verse reflejadas en el notebook
* Enviar el notebook con respuestas al correo del instructor al terminar
* No se permite consultar ni conversar con los compañeros de clase

P1. Cargar el dataset datos.csv en Pandas.
Mostrar las filas iniciales en la pantalla. Cuantas filas y columnas hay

In [21]:
# Cargar el dataset
import pandas as pd
datos = pd.read_csv("/content/datos.csv", sep = ",")

In [22]:
# Mostrar filas iniciales en la pantalla
datos.head(10)

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
5,5,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
6,6,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
7,7,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
8,8,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
9,9,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K

In [23]:
#Cuantas filas y columnas hay
datos.shape

(32560, 16)

P2. Existe una columna que copia el índice. Eliminarla del dataframe y mostrar el resultado.

In [24]:
datos.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'salary'],
      dtype='object')

In [25]:
datos = datos.drop('Unnamed: 0', axis=1)
datos.head(5)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K

P3. ¿Cuántas personas de sexo masculino y femenino están representadas en el dataset?

P4. ¿Cuál es la edad promedio del sexo masculino?

P5. ¿Cuál es la proporción de Mexicanos del dataset?

> Bloc con sangría

P6. ¿Cuál es la edad promedio de aquellos que ganan más de 50K y menos de 50K?

P7. ¿Todos los que ganan mas de 50K al año tienen un Bachiller?

P8. Determinar el número de horas promedio por semana que se trabaja en cada país para <=50K y >50K

P9. Agrupar y contar los registros de <=50K y >50K. Graficar el resultado de manera apropiada

P10. Según el análisis:
* ¿Qué campos serían idóneos para entrenar un modelo que predice si nuevos datos corresponden a <=50K o >50K?
* ¿Sería un modelo de regresión o clasificación - por qué?
* Argumentar en máx 3 párrafos.

P11.En un examen tipo test, las preguntas correctas suman un punto y las incorrectas restan medio punto. En total hay 100 preguntas y no se admiten respuestas en blanco (hay que contestar todas).

La nota de un alumno es 8.05 sobre 10. Calcular el número de preguntas que contestó correcta e incorrectamente.

P12. Si se suma 7 al numerador y al denominador de una determinada fracción, se obtiene la fracción

2
3
Si en vez de sumar 7 se resta 3 al numerador y al denominador, se obtiene la fracción

1
4
Encontrar dicha fracción.

P13. Graficar Histograma de rangos de edades

P14.Graficar Violin  Hours per week

P15.Graficar dispersión entre edad y horas per week

P16.Una marca de bebidas prepara una limonada (agua y concentrado de limón) con una cantidad muy precisa de sus ingredientes. La relación entre las cantidades de agua y concentrado limón es

L
L
=
2
L
A
5
donde LL representa los litros de concentrado de limón y LA los litros de agua.

Si se necesitan 20 limones para obtener un litro de concentrado de limón, ¿cuántos limones se necesitan para elaborar 1230 botellas de 2L de esta limonada?

P17.Grafico de barras de Race

P18. Desarrollar un programa que te pregunte un número y termine calculando el factorial, ejemplo= 3  ---> 1*2*3 =6

P19.Desarrollar un programa que te calcule la nota final del curso, aoartir de las notas de  tareas, laboratorios y examen final (0.3 ,0.4, 0.3 pesos respectivamente)

P20. 3 resumenes de la data , seleccionar mínimo 2 variables cuantitativas